
@{
    ViewData["Title"] = "Index";
}

<h1 class="display-5">Products > Index</h1>

home er index er ei view te html e dia sajai dao,product er pic nia mobile ,leptop etc nia,
er controlar er e index er code lagle dia dao