<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthTest_RoleBased</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AuthTest_RoleBased.styles.css" asp-append-version="true" />
</head>
<body>
    @{
        string navbarClass = "navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3";

        if (User.IsInRole("ADMIN"))
        {
            navbarClass += " bg-danger navbar-dark";
        }
        else if (User.IsInRole("MANAGER"))
        {
            navbarClass += " bg-primary navbar-dark";
        }
        else
        {
            navbarClass += " bg-white navbar-light";
        }
    }
    @{
        // string desig;
        // if(User.IsInRole("ADMIN"))
        // {
        //     desig = "Admin";
        // }
        // else if(User.IsInRole("MANAGER"))
        // {
        //     desig = "Manager";
        // }
        // else
        // {
        //     desig = "User";
        // }
        string desig = "User";
        switch (true)
        {
            case var _ when User.IsInRole("ADMIN"):
                desig = "Admin";
                break;
            case var _ when User.IsInRole("MANAGER"):
                desig = "Manager";
                break;
        }
    }

    <header>
        <nav class="@navbarClass">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AuthTest_RoleBased</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li> *@
                        @if (User.IsInRole("ADMIN") || User.IsInRole("MANAGER"))
                        {
                            @if (User.IsInRole("ADMIN"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Role_Manager</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="AssignRole">Assign_Role to_User</a>
                                </li>
                            }
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Productsss" asp-action="Index">Products</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shopping" asp-action="Index">Shopping</a>
                        </li>
                        }
                    </ul>
                    <span class="mx-4">@desig</span>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2025 - www.productbd.org - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
